<div class="container-fluid">
    <div class="form">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/admin']">
                    <i class="material-icons admin-link">arrow_back</i>
                </a>
                <br>
                <br>
                <h2>Reporting</h2>
                <p>Generating report...</p>
            </div>
        </div>
    </div>
</div>