.end-game {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.round-complete {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.round-complete .end-game {
  position: relative;
  bottom: initial;
  right: initial;
}
