<canvas id="game"></canvas>
<button class="end-game btn btn-sm btn-danger" (click)="manualEndNow()">End Now</button>
<div *ngIf="gameEnded" class="round-complete">
    <h3>Round Complete!</h3>
    <br>
    <br>
    <button class="end-game btn btn-sm btn-danger" onclick="this.blur()" (click)="nextPhase()">Next</button>
</div>