<div class="container-fluid">
    <div [formGroup]="form" class="form">
        <div class="row">
            <div class="col-md-6">
                <a [routerLink]="['/']">
                    <i class="material-icons admin-link">arrow_back</i>
                </a>
                <br>
                <br>
                <h2>Users</h2>
                <p>Add, Remove and update users</p>
            </div>
            <div class="col-md-6 flex-end">
                <a class="btn btn-sm btn-info" [routerLink]="['/reporting']">
                    Reporting
                </a>
            </div>
            <div class="col-md-12 flex-end">
                <button class="btn btn-primary btn-sm" (click)="addParticipant()">Add Participant</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div formArrayName="users" *ngFor="let item of formUsers.controls; let i = index;">
                    <div [formGroupName]="i" class="card" [class.delete-confirm]="item.get('delete').value">
                        <div class="card-header">
                            <button class="btn btn-sm btn-danger delete" (click)="removeParticipant(i)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Participant</label>
                                <input formControlName="name" type="text" class="form-control" id="name"
                                    placeholder="Enter participant">
                                <small iclass="form-text text-muted">Enter the particpant name they will use to
                                    start.</small>
                            </div>
                            <div class="form-group">
                                <label for="name">Schedule</label>
                                <input formControlName="procedures" type="text" class="form-control" id="procedures"
                                    placeholder="Enter Procedures">
                                <small class="form-text text-muted">Enter the comma seperated phases.
                                    (A,B,C,D)</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formUsers.length == 0">
                    No users set up, please add some.
                </div>
            </div>
        </div>
        <br>
        <div class="flex-end">
            <button class="btn btn-primary btn-sm" (click)="save()">Update</button>
        </div>
    </div>
</div>