<div class="card" style="max-width: 600px">
    <div class="card-body">
        <h4>Welcome</h4>
        <hr>
        <p>Thank you for participating!</p>
        <br>
        <h4>Rules</h4>
        <br>
        <p>Please play this computer game. You will earn points during the game for pressing the space bar, and those
            points can be exchanged at the end for gift cards of different values based on the number of points you have
            earned. When you have finished playing, please press the “end now” button and I will come back in to let you
            know how manypoints you have earned.</p>
        <br>
        <br>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="participant">Participant Code</label>
                <input formControlName="participantCode" type="text" name="Participant" id="participant" class="form-control"
                    placeholder="Enter your participant code">
            </div>
            <input name="start" id="start" class="btn btn-primary btn-sm" type="submit" (click)="startGame()" value="Start">
        </form>
    </div>
</div>