/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden;
  background-color: #eee;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
